@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #041610;
    --background: #f6fefb;
    --primary: #24db95;
    --secondary: #8d7bea;
    --accent: #bf65e6;
  }

  .dark {
    --text: #e9fbf5;
    --background: #010906;
    --primary: #24db95;
    --secondary: #271584;
    --accent: #73199a;
  }
}
